@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
$menuColor: #78cdce #f16767 #235bbd #97cc69 #507abd #6b408e;
.toggleMenuComponent {
  position: fixed; right: 0;top: 0;z-index: 4;
  > input {
    display: none;
    &:checked ~ nav {
      right: 0;
      -webkit-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
      -moz-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    }
    &:checked + label {
      right: 240px;
    }
  }
  > label {
    display     : inline-block;
    margin-left : auto;
    width       : 40px;
    padding     : 10px 0;
    background-color: rgba(100,100,100,.3);
    color : #fff;
    text-align : center;
    cursor : pointer;
    position: absolute;
    right: 0;transition: .3s;
  }
  nav {
    position: absolute;right: -240px;top: 0;
    width : 240px;float : left;
    -webkit-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    menu {margin: 0;padding-left: 0;}
  }
  li {
    list-style-type : none;
    border-top    : 1px solid #FFF;
    border-bottom : 1px solid #ddd;
    background-color: #f4f5f6;
    background-size : 200% 100%;
    background-position : 90% 0px;
    -webkit-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    position: relative;
    &:before {
      content: "";display: block;height: 100%;width: 20px;
      position: absolute;left: 0;top: 0;background: red;
      transition: .3s;
    }
    @for $i from 1 through 6 {
      &:nth-child(#{$i}):before {
        background: nth($menuColor, $i);
      }
    }
    &:hover {
      -webkit-transition : 0.3s cubic-bezier(0.175, 0.285, 0.32,1.0) all;
      -moz-transition : 0.3s cubic-bezier(0.175, 0.285, 0.32,1.0) all;
      background-position : 0% 0%;
      &:before {
        width: 100%;
      }
      & a {color: white;}
    }
  }
  li a {
    display    : block;
    padding    : 15px 0;
    color      : #454545;
    text-align : center;
    font-family: 'Source Code Pro', sans-serif;
    text-decoration: none;
    -webkit-transition : color .1s;
    -moz-transition : color .1s;
    position: relative; z-index: 1;
    font-size: 15px;
    &:hover {
      color : #fff;
      -webkit-transition : color .1s;
      -moz-transition : color .1s;
    }
  }
}