<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="page-header">Angular初學者一定要來的商城</div>
      <ul>
        <li class="item">
          <h2><i class="fas fa-star"></i>geek:Andy</h2>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_kzJ0rydH34OAftFVHOlKNkEywRfLw3qWgb_xRBk3GkDxq4CU"
            alt="">
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit, maiores ex est iure
            minima, tenetur quo praesentium aliquam ea nihil beatae quaerat rerum dolores, nesciunt provident? Esse,
            molestiae aut.
          </div>
          <div class="price">$100</div>
          <a href="">放入購物車</a>
        </li>
      </ul>
      <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
    <div class="col-4">
      <div class="search-area">
        <input type="text">
      </div>
      <div class="shopping-cart">
        <div class="shop-header">
          購物車
        </div>
        <ul class="shop-list">
          <li>
            <div class="title">
              Franks
            </div>
            <div class="price-num">
              %800 X 10 
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
