@import '../assets/mixin.scss';

.cart-container {
  @extend %content;
  > * {
    display:inline-block;vertical-align:top;height:100%;
    width: calc(100% - 300px);padding-right:20px;box-sizing:border-box;
    position: relative;
    & + * {width: 300px;}
  }
}

// 產品列表樣式
.product-list {
  .cart-title {@extend %title;}
  .scrollItem {
    height: calc(100% - 122px);width: 100%; overflow: hidden;overflow-y:auto;
    box-sizing:border-box;padding-right: 15px;
    &::-webkit-scrollbar-track{background: colorOpacity(black, .1);}
    &::-webkit-scrollbar{width: 10px;background-color: transparent;}
    &::-webkit-scrollbar-thumb {background-color: colorOpacity(black, .2);}
    .item {
      border-bottom: solid 1px map-get($colorFont, lightGray);
      padding-top: 4px;padding-bottom: 5px;
      > * {display: inline-block;vertical-align:middle;}
      .pic {
        width: 150px;height:150px;overflow:hidden;
        background-position:center center ;
        background-size: 98% auto;background-repeat: no-repeat;
        position: relative; cursor: pointer;
        &:before {
          position:absolute;color: map-get($colorFont, white);
          width: 60px;height: 60px;top: 0; bottom: 0;
          left: 0;right: 0;margin: auto;opacity: 0;
          transition: .5s;font-size: 60px;
        }
        &:hover:before {
          opacity: .9;font-size: 40px;width: 40px;height: 40px;
        }
        img {width: 100%;opacity:0;}
      }
      .detail {
        width: calc(100% - 150px);padding-left: 20px;box-sizing: border-box;
        > * {
          display: inline-block;vertical-align: middle;line-height: 25px;
        }
        .text {
          font-size: 15px;letter-spacing: .8px;width: calc(100% - 246px);
          font-weight: 400;
          small {
            font-size:12px;display:block;color: map-get($colorFont, lightGray);
            line-height: 14px;letter-spacing: .8px;
            text-align: justify;text-justify:inter-ideograph;
            word-wrap: break-word;word-break: break-all;
            line-height: normal;
          }
        }
        .price {width:100px;text-align:center;}
        .number-group {margin-left: 20px;}
        .amount, button {outline: none;vertical-align:middle;}
        button {
          font-size: 15px;font-weight: bold;width: 30px;text-align:center;
          cursor:pointer;line-height: 29px;
          &:active {color: map-get($colorFont, pink);}
        }
        .amount {
          border: solid 1px map-get($colorFont, lightGray);text-align: center;
          height: 25px;width: 40px;border-radius: 3px;
        }
        .addCard {
          position:relative;width: 22px;text-align: right;cursor:pointer;
          &:before {
            display: inline-block;width: auto;font-size:20px;
            color: map-get($colorFont, pink);vertical-align:top;
          }
          &:after {
            content: attr(popover);position:absolute;
            display: block;background: map-get($colorFont, blue);
            color: map-get($colorFont, white);padding: 0 8px;line-height: 23px;
            height: 25px;min-width: 70px;right:0;font-size: 12px;
            text-align: center;opacity: 0;bottom: -32px;transition: .5s;
          }
          &:hover:after {opacity: 1;bottom:-26px;}
        }
      }
    }
  }
  .list-foot {
    padding: 38px 0 0 0;
    > * {display: inline-block;font-size: 15px;}
    .right {
      float:right;font-size: 25px;font-family: Arial;font-weight: 800;
      small {
        font-size: 13px;margin-right: 5px;color:map-get($colorFont, lightGray);
        font-family: '微軟正黑體';font-weight: 200;
      }
    }
  }
}

// 產品列表 購物車加入右邊樣式
.buy-list {
  background: map-get($colorFont, black);border-radius: 2px;
  padding: 25px; color:map-get($colorFont, white);
  text-shadow: 0 0 1px colorOpacity(black, .5);
  .cart-title {@extend %title;padding-top: 0;}
  .list-container {
    height: calc(100% - 85px);width: 100%;overflow: hidden;
    overflow-y: auto;box-sizing: content-box;padding-right: 12px;
  }
  .list {
    display:table;width: 100%;padding: 8px 0;
    & + .list {border-top: dotted 1px map-get($colorFont, lightGray);}
    .del {
      width: 18px;height: 18px;text-align: center;cursor: pointer;
      &:before {display:block;font-size: 12px;}
      &:hover {
        color: map-get($colorFont, white);border-radius: 100%;
      }
    }
  }
  .list > * {
    display:table-cell;vertical-align:middle;
    text-align:center;
    &:first-child {width:60%;text-align:left;}
    &:last-child {width:10px;text-align:right;color: map-get($colorFont, pink);font-size: 15px;}
  }
  .list-foot {
    font-size: 15px;letter-spacing: 1px;text-align:right;
    margin-top: 15px;
  }
}


// 燈箱開發中
.lightBox {
  position: fixed; z-index: 0;
  width: 100%; height: 100%;
  width: 100vw;height: 100vh;
  left: 0;top: 0;
  display: flex;align-items: center;justify-content:center;
  display: none !important;
  .container {
    background: map-get($colorFont, white);
  }
}
