*[icon] {font-family: 'Material Icons';}
*[icon="arrow-left"]:before {content: "keyboard_arrow_left";}
*[icon="arrow-right"]:before {content: "keyboard_arrow_right";}

ul.pagination {
  padding-left: 0;margin: 0;
  .paginationMask {
    display: inline-block;vertical-align: top;
    max-width:25 * 6 + px;overflow: hidden;height:25px;
  }
  .item {
    color: #dadde1;display:inline-block;
    text-decoration: none;width: 23px;line-height: 23px;
    border: solid 1px #dadde1;
    text-align: center;font-size: 13px;
    cursor: pointer;vertical-align: top;
    & + * {margin-left: 5px;}
    &:hover, &.active {
      border: solid 1px #007bf2;background: #007bf2;
    color:#dadde1;
    }
  }
}