@import '../../assets/mixin.scss';

.checkContainer {
  @extend %content;
  h1 {color: map-get($colorFont, black);text-align: center;margin: 1em 0;}
  .backPage {text-decoration: none;color: #349af0;text-align: left;}
  .container {margin: 0 auto;height: 100%;}
  .box {
    width: 49%;
    background: map-get($colorFont, lightGray);
    margin: 0 auto 2em auto;
    overflow: auto;
    padding: 1em;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    &:first-child {margin-right: 1%;}
  }
  table {
    border: none;outline: none;width: 100%;
    margin: 0.5em 0 1em;
    tr {
      &.table-header td {font-size: 0.7em;font-weight: bolder;}
      &:nth-child(2n+2) {background: darken(#eee, 1%);}
      td {
        padding: 0.75em 0.5em;text-align: center;
        &:first-child {text-align: left;}
        &:nth-child(3) {text-align: center;}
        &:last-child, &:nth-child(4) {text-align: right;}
      }
    }
  }
}

.cost {
  margin-bottom: 1em;clear: both;float: left;padding-top: 10px;
  span {
    padding: 0.5em;
    &:first-child {float: left;padding-left: 0;}
    &:nth-child(2) {float: right;vertical-align: baseline;}
  }
  .total {
    background: map-get($colorFont, lightPink);
    color: map-get($colorFont, white);
    font-weight: bolder;border-radius: 5px;
  }
}

.noneCart {
  letter-spacing: 1px;padding: 10px 0;
}

input[type='checkbox'] {
  background: transparent;
  border: 2px solid map-get($colorFont, black);
  padding: 0.2em;
  font-size: 1em;
}

button {
  border-bottom: 4px solid darken(map-get($colorFont, lightPink), 5%);
  margin: 0.25em 0;
  display: block;
  outline: none;
  background: map-get($colorFont, lightPink);
  border: none;
  padding: 1.1em;
  border-radius: 6px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    border-bottom: 2px solid darken(map-get($colorFont, lightPink), 5%);
    margin-bottom: 0.9em;
  }
  &.clear {
    background: lighten(map-get($colorFont, navy), 6%);
    border-bottom: 4px solid darken(map-get($colorFont, navy), 5%);
    font-size: 15px;letter-spacing: 1px;padding: 12px 0;
    &:hover {
      background: map-get($colorFont, navy);
      border-bottom: 2px solid darken(map-get($colorFont, navy), 5%);
    }
  }
}