<div class="checkContainer">
  <div class="function">
    <a href="" class="backPage"><span class="fas fa-chevron-left"></span> 返回上頁</a>
  </div>
  <div class="list">
    <table border="0" cellspacing="0">
      <tr class="table-header">
        <td></td>
        <td class="left">Item Name</td>
        <td class="left">Shop</td>
        <td>Quantity</td>
        <td class="center">Price</td>
        <td class="center">Delete</td>
      </tr>
      <tr>
        <td><input type='checkbox'></td>
        <td>Milk</td>
        <td class="left">CVS</td>
        <td class="center">1</td>
        <td>$2.65</td>
        <td><i class="delete fas fa-trash"></i></td>
      </tr>
      <tr>
        <td><input type='checkbox'></td>
        <td>Milk</td>
        <td class="left">CVS</td>
        <td class="center">1</td>
        <td>$2.65</td>
        <td><i class="delete fas fa-trash"></i></td>
      </tr>
      <tr>
        <td><input type='checkbox'></td>
        <td>Milk</td>
        <td class="left">CVS</td>
        <td class="center">1</td>
        <td>$2.65</td>
        <td><i class="delete fas fa-trash"></i></td>
      </tr>
    </table>
    <div class="center noneCart">你的購物車還是空的.</div>
    <div class="cost cf">
      <span class="left">Total Cost:</span>
      <span class="right">$19.2</span>
    </div>
    <button class="clear">清除購物車</button>
  </div>
</div>
